@import url(/css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Roboto:ital,wght@0,200;1,200&display=swap');


:root {
    --cor-primaria: #1b357e;
    --cor-secundaria: #1351d8;
    --cor-terciaria: #FFFFFF;
    
    --fonte: font-family: "Open Sans", sans-serif;
    --fonte2: font-family: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1; 
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 1% 1% 1%;
    box-shadow: 5px 5px 10px gray;
    width: 100%; 
}

#logo1 {
    width: 100px;
}

header nav ul {
    display: flex;
    justify-content: center;
    gap: 18px;   
}

header nav ul li a {
    font-size: 24px;
    font-family: var(--fonte);
    color: var(--cor-secundaria);
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

main iframe {
    width: 100%;
    max-width: 896px;
    aspect-ratio: 16 / 9;
    border: none;
}
main section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.carros {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    text-align: center;
    margin: 10px; 
}

.carros img  {
    max-width: 200px;
    margin-bottom: 15px;
}

.input {
    display: flex;
    align-items: center;
    gap: 15px;
}

.input strong {
    font-family: var(--fonte2);
    color: var(--cor-secundaria);
}


.input p {
    margin: 5px 0 0 0;
    font-family: var(--fonte2);
}

input[type="checkbox"] {
    transform: scale(2.5);
}

#compare {
    margin-top: 10px;
    margin-bottom: 20px;
}

footer {
    background-color: var(--cor-primaria);
    width: 100%;
    padding: 10px 10px;
    font-family: var(--fonte);
    color: var(--cor-terciaria);
    font-size: 15px;
}

footer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#rodape {
    display: flex;
    align-items: center;
    gap: 15px; 
}

   
#icones {
    display: flex;
    align-items: center;
    gap: 10px; 
}

#icones img {
    height: 40px;
}

#logo2 {
    height: 40px;
}

@media (max-width: 768px) {
    footer {
        padding: 20px; 
    }

    footer nav {
        flex-direction: column;
        gap: 15px;
    }
}